<div class="row">
  <div class="col-md-12">
    <table class="table table-hover" *ngIf="pins.length > 0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Collaborators</th>
          <th>Privacy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pin of pins">
          <td>{{ pin.title }}</td>
          <td>
            <img
              [src]="pin.image"
              class="img-responsive"
              style="max-height: 150px"
            />
          </td>
          <td>{{ pin.collaborators }}</td>
          <td>{{ pin.privacy }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-center" *ngIf="pins.length == 0">No pins to display</p>
  </div>
</div>
