.my-drop-zone {
  border: dotted 3px lightgray;
}
.nv-file-over {
  border: dotted 3px red;
}
.another-file-over-class {
  border: dotted 3px green;
}

html,
body {
  height: 100%;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
