<div class="modal-header">
  <h4 class="modal-title">
    Add Pin<br />
    <p class="text-muted text-danger">All fields are required</p>
  </h4>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>
<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="pinTitle" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="pinTitle"
        ngModel
        name="title"
        required
        #name="ngModel"
      />
      <span class="help-block text-danger" *ngIf="!name.valid && name.touched"
        >This field is required</span
      >
    </div>
    <div class="mb-3">
      <label for="pinImage" class="form-label">Image</label>

      <div
        ng2FileDrop
        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
        (onFileOver)="fileOverBase($event)"
        (onFileDrop)="fileDropBase($event)"
        [uploader]="uploader"
        class="well my-drop-zone"
        required
      >
        Drag and drop your image here
      </div>

      <div *ngFor="let img of uploadedImages">
        <img class="m-1 img-responsive" [src]="img" style="max-height: 100px" />
        <input type="hidden" [ngModel]="img" name="image" />
      </div>
    </div>

    <div class="mb-3">
      <label for="pinCollaborators" class="form-label">Collaborators</label>
      <ngx-select
        [multiple]="true"
        [items]="customers"
        [(ngModel)]="collaboratorsSelected"
        name="collaborators"
      ></ngx-select>
    </div>
    <div class="mb-3">
      <label class="form-label">Privacy</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="privacy"
          id="publicRadio"
          value="public"
          checked
          ngModel
          required
          #privacyControl="ngModel"
        />
        <label class="form-check-label" for="publicRadio">Public</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="privacy"
          id="privateRadio"
          value="private"
          ngModel
          required
          #privacyControl="ngModel"
        />
        <label class="form-check-label" for="privateRadio">Private</label>
      </div>
      <span
        class="help-block text-danger"
        *ngIf="!privacyControl.valid && privacyControl.touched"
        >This field is required</span
      >
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="close()"
      >
        Close
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="
          !f.valid ||
          uploadedImages.length == 0 ||
          collaboratorsSelected.length == 0
        "
      >
        Save
      </button>
    </div>
  </form>
</div>
