<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/logo.jpeg"
      width="50"
      class="d-inline-block align-top mx-2"
      alt=""
    />
  </a>
</nav>
<div class="container my-3">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-primary mx-2"
        (click)="openCustomerModal()"
      >
        + Add Customer
      </button>
      <button
        type="button"
        class="btn btn-primary mx-2"
        (click)="openAddPinModal()"
      >
        + Add Pin
      </button>
    </div>
  </div>
  <hr />

  <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    *ngIf="customerCreated"
    [ngClass]="{ hidden: dismissAlert }"
  >
    Customer created successfully!
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
      (click)="closeAlert()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-list-pins></app-list-pins>
  <!--Create customer modal-->
  <div
    class="modal fade"
    id="create-customer-modal"
    tabindex="-1"
    [ngClass]="{ show: isCustomerModalOpen }"
  >
    <div class="modal-dialog">
      <app-create-customer *ngIf="isCustomerModalOpen"></app-create-customer>
    </div>
  </div>

  <!--add pin modal-->
  <div
    class="modal fade"
    id="add-pin-modal"
    tabindex="-1"
    [ngClass]="{ show: isAddPinModalOpen }"
  >
    <div class="modal-dialog">
      <app-add-pin *ngIf="isAddPinModalOpen"></app-add-pin>
    </div>
  </div>
</div>
